[Unit]
Description=Audit DonJup DB maintenance timer
Documentation=file:{{DOC_PATH}}

[Service]
Type=oneshot
WorkingDirectory={{WORKDIR}}
Environment="PATH={{PATH}}"
ExecStart={{PNPM}} --silent db:timer:audit:required
